<!-- {% load static %}
<br>
<br>
<h4 class="text-center m-3" >Companies that i have worked with</h4>

<div class="clients-logo-carousel owl-carousel text-center">
    <img src=" {% static 'img/clients/1.png' %}" alt="logo">
    <img src="{% static 'img/clients/2.png' %}" alt="logo">
    <img src="{% static 'img/clients/3.png' %}" alt="logo">
    <img src="{% static 'img/clients/4.png' %}" alt="logo">
    <img src="{% static 'img/clients/5.png' %}" alt="logo">
    <img src="{% static 'img/clients/6.png' %}" alt="logo">
</div> -->