<div class="pagination-block">
    <nav>
        <ul>
            {% if page.has_previous %}
            <li><a href="?page={{page.previous_page_number}}" ><i class="fas fa-chevron-left"></i> Prev</a></li>
            {% endif %}
            <li><a href="#" class="active pointer-href">{{page.number}} of {{page.paginator.num_pages}}</a></li>
            {% if page.has_next %}
            <li><a href="?page={{page.next_page_number}}" class="pointer-href">Next <i class="fas fa-chevron-right"></i></a></li>
            {% endif %}
        </ul>
    </nav>
           
       
    </div> 